.All {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 70vh;
    margin-top: 10vmin;
}

.All h1 {
    color: #ffffff;
    font-size: 4vmin;
    font-weight: 600;
    text-align: left;
    margin-left: 4.5vmin;
    font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    margin-bottom: 15vmin;
}




.FormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FormDiv button {
    width: 17vmin;
    height: 6vmin;
    border-radius: 5px;
    background-color: #64ffda;
    border: none;
    font-size: 2.5vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
}

.Link {
    display: flex;
    flex-direction: row;
    gap: 3vmin;
    margin-bottom: 30px;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.Form input {
    width: 56vmin;
    height: 7vmin;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 2vmin;
    font-family: Arial, Helvetica, sans-serif
}

.Form input:focus {
    outline: none;
}

.Form textarea {
    width: 56vmin;
    height: 40vmin;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 5px;
    resize: none;
    font-size: 2vmin;

}

.Form textarea:focus {
    outline: none;
}

.Form input::placeholder {
    text-transform: uppercase;
    font-size: 2vmin;
}

.Form button {
    width: 17vmin;
    margin-bottom: 50px;
}

.FormDiv button:hover {
    transition: 0.3s;
    background-color: #0a192f;
    color: #fff;
    border: 1px solid #64ffda;
}