.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.Logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    height: fit-content;
}

@media screen and (max-width: 800px) {
    .Logo {
        display: none;
    }
    .Link span {
        display: none;
    }
    .Navbar {
        justify-content: center;
    }
    .Link {
        margin-left: 45px;
    }
}

.Logo img {
    width: 40px;
    height: 40px;
}

.Link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
}

.Link ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.Link li {
    color: #ccd6f6;
    text-decoration: none;
    transition: 0.2s;
    font-size: 1.5vmin;
    cursor: pointer;
}

.Link span {
    color: #66ffda;
}

.Link li:hover {
    transition: 0.2s;
    color: #66ffda;
}

.Link button {
    width: 10vmin;
    height: 4vmin;
    color: #66ffda;
    border: solid 1px #66ffda;
    border-radius: 5px;
    background-color: #0a192f;
    font-size: 1.5vmin;
    transition: 0.2s;
    cursor: pointer;
}

.Link a {
    width: 10vmin;
    height: 4vmin;
    color: #66ffda;
    border-radius: 5px;
    background-color: #0a192f;
    font-size: 1.5vmin;
    transition: 0.2s;
    cursor: pointer;
}

.Link button:hover {
    background-color: rgba(100,255,218,0.1);
}

