.Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1850px) {
    .Container {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .All {
        margin-bottom: 100vmin;
    }
}


.All {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100vh;
    margin-top: 10px;
}

.Title {
    color: #eedabc;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin-left: 50px;
    font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif
}

.Title::after {
    position: relative;
    top: -11px;
    content: '';
    display: inline-block;
    width: 300px;
    height: 1px;
    background-color: #233554;
}

@media screen and(max-width: 1625px) {
    .Container {
        flex-direction: column;
        justify-content: center;
    }
}
