.All {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 93vh;
}

.Container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.All h1 {
    color: #eedabc;
    font-size: 4vmin;
    width: 75%;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif
}




.All span {
    color: #66ffda;
}